body {
	background: rgb(19, 19, 20);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(86, 111, 148);
	text-align: center;
}
.projects { 
    /* make the blobs float side-by-side */
	display:flex; 
	flex-wrap:wrap;  
} 
.projects h2 {
    /* display the h2 on its own line, not with the section blobs */
	width: 100%;
    text-align: center;
}
.project {
    /* form the section blobs */
    width: 300px;
    margin: 10px;
    padding: 20px 10px;
    background: lightslategray;
    /* rounded corners for the blobs */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center; 
}
.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
    text-align: center;
}
.project img {
    /* adjust your image sizes as needed */
    width: 250px;
    height: auto;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}