body {
  background: gray;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: rgb(5, 7, 7);
  text-align: center;
}

.project a {
  display: block;
  text-align: center;
  width: fit-content;
  margin: auto;
  text-decoration: none;
  color: purple;
}

.project img {
  width: 300px;
  height: 300px;
  border: 2px solid rgb(126, 14, 201);
  display: block;
  margin: 10px auto;
}

.project p {
  text-align: center;
  margin: 15px;
}
